

<div  *ngFor="let data of purchasesArray">
    
<div class="uk-card uk-card-default uk-width-1-2@m" style=" margin-right: auto; margin-left: auto;width: 90%; margin-top: 50px; border-top: 1px solid #e5e5e5" *ngIf="data.uidUserbuy===id">
    <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
                <img class="uk-border-circle" width="40" height="40" [src]="data.photo_profile">
            </div>
            <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom">{{data.titre}}</h3>
                <p class="uk-text-meta uk-margin-remove-top">{{data.nameUserPost | titlecase}} {{data.prenomUserPost| titlecase }}</p>
            </div>
        </div>
    </div>
    <div class="uk-card-body">
        <p>{{data.description}}</p>
    </div>
    <div class="uk-card-footer">
        <button class="uk-button uk-button-default" href="#modal-container" (click)="contact(data.nameUserPost,data.prenomUserPost,data.emailUserPost,data.telephoneUserPost)" uk-toggle>Contact</button>
    </div>
</div>
</div>





<div id="modal-container" class="uk-modal-container" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <h2 class="uk-modal-title">Details For Buyer</h2>
        <table class="uk-table uk-table-divider">
            <tbody>
                <tr>
                    <td>Nom & Prenom</td>
                    <td>{{dataUserPostProduct.name | titlecase}} {{dataUserPostProduct.name | titlecase }}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{dataUserPostProduct.email | titlecase}}</td>
                    
                </tr>
                <tr>
                    <td>Tel</td>
                    <td>{{dataUserPostProduct.tel | titlecase}}</td>
                    
                </tr>
            </tbody>
        </table>


    </div>
</div>

