<div class="uk-position-center">
<form #f="ngForm" (ngSubmit)="login(f)">
    <div class="uk-margin logologin">
        <div class="uk-inline">
            <img src="assets/img/login.png" />
        </div>
    </div>
    <div class="uk-margin">
        <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: user"></span>
            <input class="uk-input" ngModel #email="ngModel" type="text" name="email" >
        </div>
    </div>

    <div class="uk-margin">
         <div class="uk-inline">
            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
            <input class="uk-input" ngModel type="password" #password="ngModel" name="password">
        </div>
    </div>
    
    <div class="alert alert-danger" role="alert" *ngIf="valid">
        Error password
</div>
    <button class="uk-button uk-button-primary" type="submit">Login!</button> &nbsp;
    <button class="uk-button uk-button-danger">Forget!</button>
    
    


</form>
</div>