
<div class="body" style="background-color: #204838; height: 1000px;">
    <div class="row" >
    <div *ngFor="let item of itemArray">
    <div class="col col-12 col-md-6 col-lg-3 item_all" *ngIf="item.uid===uId" >
        <div class="card" style="width: 18rem; background-color: #204838;" >
            <img [src]="item.photo" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" style="color: white;">{{item.titre}}</h5>
                    <p class="card-text" style="color: white;">{{item.price | currency}}</p>
                    <button type="button" class="btn btn-primary espace" (click)="onEdit(item.$key)">Update</button>
                    <button type="button" class="btn btn-danger espace" (click)="onDelete(item.$key)">DELETE</button> 
                </div>
         </div>
    </div>
</div>
</div>
</div>


