

<div class="uk-child-width-1-2@s uk-grid-match uk-padding" uk-grid >
    <div>
        <div class="uk-card uk-card-primary uk-card-hover uk-card-body uk-light" style="background: #0e2f3e;">
            <h3 class="uk-card-title" style="text-align: center;"><span class="uk-margin-small-right" uk-icon="users"></span>Users</h3>
            <div class="uk-animation-toggle" tabindex="0" style="width: 126px; margin-left: auto;
            margin-right: auto;">
                <div class="uk-card uk-card-default uk-card-body uk-animation-shake" style="border-radius: 53px;
                background: #0e2f3e;
                border: 5px solid #4bc33a;
                color: white;">
                    <h2 class="uk-text-center">{{counterU}}</h2>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-primary uk-card-hover uk-card-body uk-light" style="background: #0e2f3e;">
            <h3 class="uk-card-title" style="text-align: center;"><span class="uk-margin-small-right" uk-icon="album"></span>Skills</h3>
            <div class="uk-animation-toggle" tabindex="0" style="width: 126px; margin-left: auto;
            margin-right: auto;">
                <div class="uk-card uk-card-default uk-card-body uk-animation-shake" style="border-radius: 53px;
                background: #0e2f3e;
                border: 5px solid #4bc33a;
                color: white;">
                    <h2 class="uk-text-center">{{counter}}</h2>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-primary uk-card-hover uk-card-body uk-light" style="background: #0e2f3e;">
            <h3 class="uk-card-title" style="text-align: center;"><span class="uk-margin-small-right" uk-icon="file-edit"></span>Skills Not Accepted</h3>
            <div class="uk-animation-toggle" tabindex="0" style="width: 126px; margin-left: auto;
            margin-right: auto;">
                <div class="uk-card uk-card-default uk-card-body uk-animation-shake" style="border-radius: 53px;
                background: #0e2f3e;
                border: 5px solid #4bc33a;
                color: white;">
                    <h2 class="uk-text-center">{{counterNU}}</h2>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-primary uk-card-hover uk-card-body uk-light" style="background: #0e2f3e;">
            <h3 class="uk-card-title" style="text-align: center;"><span class="uk-margin-small-right" uk-icon="cart"></span>Price</h3>
            <div class="uk-animation-toggle" tabindex="0" style="width: 126px; margin-left: auto;
            margin-right: auto;">
                <div class="uk-card uk-card-default uk-card-body uk-animation-shake" style="border-radius: 53px;
                background: #0e2f3e;
                border: 5px solid #4bc33a;
                color: white;">
                    <h2 class="uk-text-center">42$</h2>
                </div>
            </div>
        </div>
    </div>
</div>