


<!--<img src="assets/img/freelance.jpg" style="width: 100%;" alt="Responsive image">-->

<main role="main">
    <!-- Marketing messaging and featurettes-->
    <br>
   <div style="background-color:#204838; width: 100%; height: 350px;">
    <br>
    <h1 class="display-3" style="text-align:center ; color: white; font-family: monospace;">1 Million Arab Programmers</h1>
    <br>
    <h1 class="lead" style="text-align:center ; color:white; font-size: 30px;
    font-family: monospace;">Don't Know Where To Start ?</h1>
    <div style=" margin-left: 50%; margin-right: 50%; position: relative;">
    <button style="background-color: #62ad8f; width: 223px; border-radius: 5px; color: white;
    font-size: 33px; border: none; cursor: pointer;"
     routerLink="/register">Start Now!</button></div>
  <br> 
  </div>
   <br>
   <br>
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <br>
    <br>
    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="rounded-circle" src="assets/img/sec1.jpg" style="width: 150px; height: 150px;" alt="Generic placeholder image" width="140" height="140">
          <h2 style="color: white;">RECHERCHE DE COMPÉTENCES</h2>
          <p style="color: white;">Nous prenons en charge la recherche et la sélection des experts indépendants les plus pertinents pour répondre à votre cahier des charges et mener à bien vos projets.</p>
          <p><a class="btn btn-secondary" href="#" role="button" style="background: #204838;border: none;">View details</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="rounded-circle" src="assets/img/sec2.png" style="width: 150px; height: 150px;" alt="Generic placeholder image" width="140" height="140">
          <h2 style="color: white;">PORTAGE SALARIAL D’INDÉPENDANTS</h2>
          <p style="color: white;">Le portage salarial permet aux entreprises d’adapter facilement leurs effectifs aux besoins. Vous pouvez ainsi collaborer avec les meilleurs experts du marché, sans surcharge administrative ni gestion supplémentaire.</p>
          <p><a class="btn btn-secondary" href="#" role="button"style="background: #204838;border: none;">View details </a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="rounded-circle" src="assets/img/sec3.jpg" style="width: 150px; height: 150px;" alt="Generic placeholder image" width="140" height="140">
          <h2 style="color: white;">SOUS-TRAITANCE DE SOCIÉTÉS</h2>
          <p style="color: white;">Nous assurons la gestion et la sécurisation de vos sous-traitants non stratégiques afin que vous bénéficiiez des meilleures compétences et savoir-faire, sans surcharge administrative.</p>
          <p><a class="btn btn-secondary" href="#" role="button" style="background: #204838;border: none;">View details</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading" style="color: white;">Bienvenue dans l'entreprise étendue <p  style="color: #204838;">Ça va vous couper le souffle.</p></h2>
          <p class="lead" style="color: white;">Les modèles traditionnels de travail sont de moins en moins adaptés aux besoins de réactivité et de flexibilité des entreprises. La solution ? Créer un écosystème de ressources externes pour s’associer des compétences spécifiques non disponibles en interne.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" src="assets/img/freelance1.jpg" style="width: 350px;" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading" style="color: white;">VOTRE PLATEFORME <p  style="color: #204838;">Voir par vous-même.</p></h2>
          <p class="lead" style="color: white;">Chercher de nouveaux talents, faire une demande de portage salarial, avoir une visibilité sur vos intervenants, gérer les bons de commande et factures… Visualisez et pilotez simplement les activités liées à vos ressources externes.</p>
        </div>
        <div class="col-md-5 order-md-1">
          <img class="featurette-image img-fluid mx-auto" src="assets/img/freelance2.jpg" style="width: 300px; height: 300px;" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading" style="color: white;">Qui sommes-nous ? <p  style="color: #204838;">Nous ??</p></h2>
          <p class="lead" style="color: white;">Leader tunisien de l’intermédiation entre entreprises et prestataires intellectuels, nous aidons nos clients au quotidien à structurer et sécuriser leur collaboration avec les travailleurs indépendants.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" src="assets/img/freelance3.png" style="width: 300px; height: 300px;" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->


    <!-- FOOTER -->
    <footer class="container">
      <p class="float-right"><a href="#">Back to top</a></p>
      <p>&copy; 2020-2021 Company, Winopapa.com &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>
  </main>